body {
    background-color: beige;
}

h1 {
    /* notes */
    color: firebrick;
    font-size: 50px;


} 

.css {
    color: pink;
    font-size: 200px;

}

.html {
    color: pink;
    font-size: 200px;
}

section {
    background-color: lightcoral;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border-style: dotted;
    border-width: 8px;
    border-color: red;
}
.valentine {
    color: red;
    font-size: 25px;
}

fieldset {
    background-color: white;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    border-width: 2px;
    border-style: dotted;
    border-color: pink


}